.hbox {
  display: flex;
  height: 80vh;
}

.box {
  color: #353535;
  margin: auto auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 75px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.03);
}

h1 {
  font-size: 22pt;
  margin-bottom: 22px;
}

.login-input-form {
  margin: 25px 0;
}

.login-input-form label {
  cursor: pointer;
}

#login-page-input {
  width: 100%;
  margin-top: 20px;
}

#register-button {
  padding: 10px 40px;
  margin: 3px;
  font-size: 13pt;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #222222;
  transition: 0.5s;
  cursor: pointer;
}

#register-button:hover {
  background-color: #3b3b3b;
}

#login-button {
  margin: 3px;
  padding: 10px 40px;
  font-size: 13pt;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #222222;
  transition: 0.5s;
  cursor: pointer;
}

#login-button:hover {
  background-color: #3b3b3b;
}

.copyright-block {
  margin-top: 15px;
  font-size: 11pt;
  color: rgba(0, 0, 0, 0.5);
}

#login-title {
  font-size: 40pt;
  font-weight: 940;
}

.auth-buttons {
  display: flex;
}
