.book-card {
  width: 200px;
  height: 320px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.03);
  transition: 0.5s;
}

.book-card:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.book-card img {
  height: 250px;
  object-fit: contain;
  border-radius: 5px;
  pointer-events: none;
}

.book-card .image-wrapper {
  width: 100%;
  height: 250px; /* Фиксированная высота превью */
  overflow: hidden;
  border-radius: 5px;
}

.book-card .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обрезает изображение по ширине, сохраняя высоту */
  object-position: center; /* Центрирует изображение */
  display: block;
  pointer-events: none;
}

.book-card .book-title {
  text-align: center;
  margin-top: 5px;
  font-size: 14pt;
  font-weight: bold;
}

.book-card .book-author {
  color: #000000;
  font-size: 10pt;
  margin-top: 5px;
}

.unfold-book-box {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.book-card-unfold {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  padding: 1cm;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 20px;
  width: 32cm;
  height: 23cm;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.03);
  z-index: 20;
}

#cover-full-preview {
  height: 10cm;
  margin: 0 0 1 1cm;
  object-fit: contain;
  border-radius: 5px;
  pointer-events: none;
}

#close-unfold-card {
  position: fixed;
  background-color: #ffffff00;
  border-width: 0;
  z-index: 50;
  left: 94.3%;
  top: 0.5%;
  cursor: pointer;
}

#unfolded-title {
  font-size: 30pt;
  margin: 0 0 0.3cm 0 !important;
  text-align: left;
}

#unfolded-author {
  margin-bottom: 0.8cm;
}

.book-info-container {
  width: 60%;
  margin: 0 1cm;
}

.book-left-column-container {
  width: 50%;
}

#unfolded-annotation {
}
