.place-item {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  width: 70%;
  border-radius: 10px;
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  margin: 0.2cm 0cm 0.2cm 0cm;
  padding: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.01);
}

.place-item:hover {
  background-color: rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.place-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#item-circle {
  width: 15px;
  margin: 5px;
  border-radius: 100%;
  border-width: 10px;
  border-color: #000000;
}

#remove-place-button {
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}

#remove-place-button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.place-info-container h2 {
  margin-bottom: 10px;
}
