nav {
  background-image: url("/src/assets/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.main-side a {
  margin-right: 10px;
}

.profile-side a {
  display: flex;
  align-items: center;
}

.profile-side a img {
  width: 42px;
  height: 42px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 100%;
  object-fit: cover;
}

.profile-side a {
  color: white;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt; 
}

.profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  height: 10vh;
}

.tab {
  color: white;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 10px;
  border: 0;
  transition: background-color 0.3s ease-in-out;
}

.tab:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
